ul {
    list-style: none;
    overflow-x: auto;
//   white-space: nowrap;
//   display: flex;
//   gap: 1rem; // optional: space between items
//   max-width: 100vw; // or set a specific width if you want
  padding-bottom: 8px;
}

li {
//   display: inline-block;
//   min-width: 250px; // adjust as needed for your movie cards
}